[submodule "disrabution_controler/esp-idf"]
	path = disrabution_controler/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
